body {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      color: red;
}

.swiper-holder {
      height: 100%;
      width: 100%;
      border: 2px solid #547ae3;
}

.swiper {
      width: 80%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 10px 1px 20px 1px rgb(32, 128, 197);
      padding: 2rem;

}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #f8f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}


.time-holder {
      border: 2px solid teal;
      padding: 5px;
      border-radius: 50%;
}

.quiz-holder {
      display: flex;
      flex-direction: column;
}

.option-holder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
}

.option-btn {
      background: #547ae3;
}

.quiz-btn-holder {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 3px;
}

.quit-btn {
      background: rgb(200, 46, 46);
}

.submit-btn {
      background: rgb(27, 176, 27);
}

.question-holder {
      color: rgb(24, 191, 119);
      text-transform: uppercase;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: larger;
}

.time {
      color: rgb(226, 35, 134);
      font-weight: 500;
}

.remove-btn {
      background: teal;
}


/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 640px) {
      .swiper-slide {
            flex-direction: column;
            row-gap: 1em;
      }

      .question-holder {
            font-size: medium;
      }

      .option-holder {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            font-size: medium;
      }


      .quit-btn {
            background: rgb(200, 46, 46);
            max-height: 3rem;
            font-size: medium;
      }


      .remove-btn {
            background: teal;
            max-height: 3rem;
            font-size: medium;
      }

}

/* 
/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 768px) {
      ...
} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 1024px) {
      ...
} */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 1280px) {
      ...
} */